<template>
  <div class="index">
    <h1>phillipsharring</h1>
  </div>
</template>

<script>
export default {
  name: "IndexPage",
};
</script>

<style scoped>
div.index {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 100px;
  font-family: sans-serif;
  font-weight: 900;
}
</style>
